<%= form_for @transfer, :html => { :class => "form-horizontal transfer" } do |f| %>

    <% if @transfer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @transfer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :receiver_account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :receiver_account_id,User.all.collect { |u| [u.login,u.id] }, :class => 'form-control' %>
    </div>
    <%= error_span(@transfer[:receiver_account_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :amount, :step => 1, :class => 'form-control' %>
    </div>
    <%= error_span(@transfer[:amount]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            transfers_path, :class => 'btn btn-default' %>

<% end %>
