<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receiver_account_id %><br>
    <%= f.select :receiver_account_id,User.all.collect { |u| [u.login,u.id] } %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, step: 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
