<p id="notice"><%= notice %></p>

<p>
  <strong>Sender account:</strong>
  <%= @transfer.sender_account_id %>
</p>

<p>
  <strong>Receiver account:</strong>
  <%= @transfer.receiver_account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.amount %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
