Logged in as <%= current_user.login %>
<%= link_to "Logout",logout_path  %>
<h1>Account <%= @account.user.login %></h1>

<%= @account.balance %>
<hr />

<%= link_to "Een betaling uitvoeren",new_transaction_path %>

<hr />

<h2>Audit</h2>
<ol>
<% sum = 0 %>
<% @account.lines.each do |l| %>
  <% sum += l.amount %>
  <li><%=  l.amount %></li>
<% end %>
</ol>

TOTAL <%= sum %>
