Logged in as <%= current_user.login %>
<%= link_to "Logout",logout_path  %>
<h1>Account <%= @account.user.login %></h1>

<%= @account.balance %>
<hr />

<%= link_to t('.payment', :default => t("helpers.links.payment.new")),new_transfer_path, :class => 'btn btn-primary' %>

<hr />

<h2>Audit</h2>
Manually added credit
<ul>
<% sum = 0 %>
<% @account.lines.manual.each do |l| %>
  <% sum += l.amount %>
  <li><%=  l.amount %></li>
<% end %>
</ul>
Deposits and Withdrawals
<ul>
  <% @account.transfers.each do |t| %>
  <% amount = (t.amount * -1) if t.sender_account == @account %>
  <% amount = t.amount if t.receiver_account == @account %>
  <li><%=  amount %></li>
  <% sum += amount %>
<% end %>
</ul>

TOTAL <%= sum %>
